<!-- MINI FOOTER -->
           
            <section class="mini_footer">
              
                <div>
                    <p>&copy; 2023 Company, Inc</p>
                </div>
                
                <!--div>
                                    <img src="../assets/img/vehdoc.png" alt="">
                                </div-->
                
                <div class="mini_footer_ul">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact Us</a></li>
                
                    </ul>
                </div>
               
            </section>