<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--topbar-->
        {{> _topbar}}


        <!--data list-->
        <div class="details">
            <div class="recentOrders">
                <h1>Payment Status</h1>
                <br>
                <div class="cardHeader">
                    <h2>Checkout <ion-icon name="cart-outline"></ion-icon></h2>
                </div>
                <div>{{status}}</div>
                <div>{{data}}</div>
            </div>
        </div>
    </div>

</div>