<div class="error">
        <img src="../assets/svg/undraw_page_not_found_re_e9o6.svg" alt="">
        <p>This page does not exist. Return to <a href="../pages/Home.html">HOMEPAGE</a></p>
        
    </div>