    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>About Us</h2>
                    <!--p></p-->
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <!--h3>Voluptatem dignissimos provident quasi corporis</h3-->
                        <img src="/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                        <p>Vehdoc is a professional company dedicated to providing vehicle owners with hassle-free
                            document registration services.
                            Their experienced team is knowledgeable in all aspects of vehicle registration and can
                            efficiently handle the process on
                            behalf of their clients. Vehdoc's goal is to simplify the registration process, saving their
                            clients valuable time and
                            energy while ensuring compliance with all necessary regulations.</p>

                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                We offer the best services in acquiring vehicle documents which includes
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> Driver License</li>
                                <li><i class="bi bi-check-circle-fill"></i> Change of Ownership</li>
                                <li><i class="bi bi-check-circle-fill"></i> Comprehensive Insurance</li>
                                <li><i class="bi bi-check-circle-fill"></i> Other Vehicle papers.</li>
                            </ul>
                            <!--p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
              </p-->

                            <div class="position-relative mt-4">
                                <img src="/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                                <a class="glightbox play-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

     
         <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Here are our client's reviews about our services</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/avatar.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Moyo Adebayo</h3>
                      <h4>Operations Manager</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    As a busy fleet manager, keeping track of vehicle documents and permits can be a real headache. VEHDOC has been a
                    lifesaver for me and my team. Their online platform makes it easy to manage all our vehicle registrations and permits in
                    one place, saving us time and reducing our administrative workload.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/avatar.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Nkechi Onwuka</h3>
                      <h4>Small Business Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    As a small business owner, I was dreading the task of registering my new company vehicle. Vehdoc's team walked me through the process and handled all the
                    paperwork, leaving me free to focus on my business.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/avatar.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Fatima Abubakar</h3>
                      <h4>Truck Driver</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I recently moved to a new state and had no idea where to start when it came to registering my car. VEHDOC made the
                    process easy and stress-free. They walked me through the requirements and helped me gather all the necessary documents.
                    
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/avatar.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Abdullahi Bello</h3>
                      <h4>Freelancer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I had a great experience with Vehdoc!They amde the entire process so easy and convenient.They were
                    friendly, efficient, and I highly recommend their services to anyone looking for a reliable company
                    to handle their vehicle documents
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/avatar.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Adekunle Gbenga</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I was extremely impressed with the level of professionalism and attention to detail that Vehdoc provided.I would
                    definitely recommend Vehdoc to anyone in need of vehicle document processing services
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  


        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-4">
                        <div class="content px-xl-5">
                            <h3>Frequently Asked <strong>Questions</strong></h3>
                            <p>
                                These are frequently questions and answers that you can get
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-8">

                        <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-1">
                                        <span class="num">1.</span>
                                        How long does it take to process vehicle documents?
                                    </button>
                                </h3>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Processing time can be vary depending on the service requested and the specific
                                        requirements of the customer.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-2">
                                        <span class="num">2.</span>
                                        Is Vehdoc licensed and insured?
                                    </button>
                                </h3>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Yes, Vehdoc is licensed by the state and fully insured.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-3">
                                        <span class="num">3.</span>
                                        Can Vehdoc help with out-of-state vehicle registration?
                                    </button>
                                </h3>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Yes, Vehdoc can assist with out-of-state vehicle registration. The specific
                                        requirements for each state may vary, so
                                        processing times may be longer.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-4">
                                        <span class="num">4.</span>
                                        What happens if there are issues or errors with the processed documents?
                                    </button>
                                </h3>
                                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        In the rare event that there are errors or issues with the processed documents,
                                        Vehdoc will work with the customer to
                                        address and resolve the issue promptly.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-5">
                                        <span class="num">5.</span>
                                        How can I contact Vehdoc if I have additional questions?
                                    </button>
                                </h3>
                                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        You can click on the whatsapp icon to chat with one of the agents.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->


    </main><!-- End #main -->
