 <main>

       
        <!--Navbar-->
        <div class="header">
           <div class="lnav">
            <img src="/img/vehdoc.png" alt="">
            <img src="/svg/bars.svg" alt="" class="menu">
            
            <div class="lmenu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                   
                     <li><button onclick="document.getElementById('id02').style.display='block'" class="btx-primary">LOGIN</button></li>
                </ul>
            </div>
           </div>
        </div>

        <div class="menubtn">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
               <li><button onclick="document.getElementById('id02').style.display='block'" style="width:150px;color:white" class="btx-primary">LOGIN</button></li>
        
            </ul>
        </div>
       
        <!--Welcome Page-->
        <div class="welcome">
            

            <div class="welcome-intro">
                <h2>Vehicle papers, made easy.</h2>
                <p>VEHDOC is a professional company dedicated to providing vehicle owners with hassle-free document registration services.
                Their experienced team is knowledgeable in all aspects of vehicle registration and can efficiently handle the process on
                behalf of their clients. VEHDOC's goal is to simplify the registration process, saving their clients valuable time and
                energy while ensuring compliance with all necessary regulations.</p>
                </p>
            
               <div class="flex">
                
                <button onclick="document.getElementById('id01').style.display='block'" style="width:150px;" class="btx-primary">SIGNUP</button>
               </div>
            </div>

            <div class="welcome-image">
                <img src="/img/Homepage.png" alt="Welcome Image">
            </div>

        </div>

        <!--Intro-->
        <div class="introcard">
            <div class="card">


               <p>You can simply create an account and fill out your vehicle data. This includes important information such as the
                make, model, and year of your vehicle, as well as its current mileage and any specific maintenance or repair needs.
                </p>

                <img src="/svg/undraw_select_option_re_u4qn.svg" alt="">
            </div>

            <div class="card">
                <p>It is a platform designed to serve a wide range of vehicle owners, including cars, trucks, SUVs, motorcycles, and
                more. Regardless of the make or model of a vehicle, VEHDOC can provide a neccessary documents and permit.</p>
                <img src="/svg/undraw_by_my_car_0dds.svg" alt="">
            </div>

            <div class="card">
               <p>You can easily pay for services using a credit or debit card,
                PayPal, or other popular online payment systems. VEHDOC also employs industry-standard security measures to ensure that
                all online payments are safe and secure </p>
                <img src="/svg/undraw_online_payments_re_y8f2.svg" alt="">
            </div>

        </div>

        <!--Testimonial>
        <div class="maintestcard">
            <div class="testcard">
                <div class="gridcard">
                    <div class="gridcard-details">
                        <img src="/img/IMG-20221215-WA0029 (2).jpg" alt="Client-image">
                        <p class="sm">Akinjide Ayomide</p>
                    </div>
                    <p>I cannot believe it. I can be sure that you guys will renew all of my other autos and buddies. I'm very grateful.
                    </p>
                </div>

                <div class="gridcard">
                    <div class="gridcard-details">
                        <img src="/img/IMG-20221215-WA0029 (2).jpg" alt="Client-image">
                        <p class="sm">Oluseed Ltd</p>
                    </div>
                    <p>I am satisfied with your service, and I can guarantee that your business will handle all of our paperwork for auto
                    registration and document renewal.</p>
                </div>

                <div class="gridcard">
                    <div class="gridcard-details">
                        <img src="/img/IMG-20221215-WA0029 (2).jpg" alt="Client-image">
                        <p class="sm">Akinjide Ayomide</p>
                    </div>
                    <p>Excellent! I'm giving out my referral code to everyone I know. This is a vital service! You guys are fantastic.
                    </p>
                </div>
            </div>
        </div-->

        <!--Main Testimonial -->
       

        <!--trial-->
        <section class="trial">
            <h2>Get Free, Automated and Multi Platform Reminders</h2>
            <p>We offer you reminders automated by Whatsapp, Email and SMS
            </p>
            <a href="" class="btn btn-primary">Join us now</a>
        </section>


        <!--FAQs-->
        <section class="faqs">

            <div class="faqs-question">
            
                <div>
                    <h2>FAQs</h2>
                    <button class="accordion">How long does it take to process vehicle documents?</button>
                    <div class="panel">
                        <p>Processing time can be vary depending on the service requested and
                            the specific requirements of the customer
                        </p>
                    </div>

                    <button class="accordion">Is VEHDOC is licenses and insured?</button>
                    <div class="panel">
                        <p>Yes, VEHDOC is licensed by the state and fully insured</p>
                    </div>

                    <button class="accordion">Can VEHDOC help with out-of-state vehicle registration?</button>
                    <div class="panel">
                        <p>Yes, VEHDOC can assist with out-of-state vehicle registration. The specific requirements
                            for each state may vary, so processing times may be longer
                        </p>
                    </div>

                    <button class="accordion">What happens if there are issues or errors with the processed documents?</button>
                    <div class="panel">
                        <p>In the rare event that there are errors or issues with the processed documents,
                            VEHDOC will work with the customer to address and resolve the issue promptly
                        </p>
                    </div>

                    <button class="accordion">How can I contact VEHDOC if I have additional questions?</button>
                    <div class="panel">
                        <p>You can click on the whatsapp icon to chat with one of the agents</p>
                    </div>


                </div>

              
            
            
            
            </div>
            
            <div class="faqs-image">
                <img src="/svg/undraw_faq_re_31cw.svg" alt="">
            </div>

        </section>

        <!--Footer-->
        <footer>
            <div>
                <h2>VEHDOC</h2>
                <h3>
                    Our online portal can be accessed by anyone <br> at any time for maximum convenience.</h3>
                <form action="/send-mail" method="POST">
                    <div class="input-wrap">
                        <div>{{mailStatus}}</div>
                        <input type="email" name="" id="" placeholder="Enter Your Email">
                        <button type="submit" class="btx btx-primary">Send</button>
                    </div>
                </form>
            </div>
        
            <div>
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                   
                </ul>
            </div>
        
            <div>
                <h3>Information</h3>
                <ul>
                    <li><a href="#">Insurance</a></li>
                    <li><a href="#">Vehicles permit</a></li>
                    <li><a href="#">Delivery Date</a></li>
                   
                </ul>
            </div>
        
         
            <div>
                <h3>Social Media</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Whatsapp</a></li>
                   
                </ul>
            </div>
        
        
        </footer>

    </main>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
    
        <form class="modal-content" action="/register" method="POST">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <span style="color: #c40505">{{ msg }}</span>
                
                <input type="text" title="" name="name" placeholder="Your Full Name" required>
                <input type="email" title="Email Address" name="email" placeholder="Email Address" required>
                <input type="password" title="Password" name="password" placeholder="Password" required>
                <input type="tel" name="phone" placeholder="Phone Number" title="Phone Number" required>

                <select name="state" id="" title="Select State">
                    <option hidden disabled selected value> -- Select state -- </option>
                    <option value="Abia">Abia</option>
                    <option value="Adamawa">Adamawa</option>
                    <option value="Akwa Ibom">Akwa Ibom</option>
                    <option value="Anambra">Anambra</option>
                    <option value="Bauchi">Bauchi</option>
                    <option value="Bayelsa">Bayelsa</option>
                    <option value="Benue">Benue</option>
                    <option value="Borno">Borno</option>
                    <option value="Cross River">Cross River</option>
                    <option value="Delta">Delta</option>
                    <option value="Ebonyi">Ebonyi</option>
                    <option value="Edo">Edo</option>
                    <option value="Ekiti">Ekiti</option>
                    <option value="Enugu">Enugu</option>
                    <option value="Gombe">Gombe</option>
                    <option value="Imo">Imo</option>
                    <option value="Jigawa">Jigawa</option>
                    <option value="Kaduna">Kaduna</option>
                    <option value="Kano">Kano</option>
                    <option value="Katsina">Katsina</option>
                    <option value="Kebbi">Kebbi</option>
                    <option value="Kogi">Kogi</option>
                    <option value="Kwara">Kwara</option>
                    <option value="Lagos">Lagos</option>
                    <option value="Nassarawa">Nassarawa</option>
                    <option value="Niger">Niger</option>
                    <option value="Ogun">Ogun</option>
                    <option value="Ondo">Ondo</option>
                    <option value="Osun">Osun</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Plateau">Plateau</option>
                    <option value="Rivers">Rivers</option>
                    <option value="Sokoto">Sokoto</option>
                    <option value="Taraba">Taraba</option>
                    <option value="Yobe">Yobe</option>
                    <option value="Zamfara">Zamfara</option>
                    <option value="FCT">FCT</option>
                
                </select>
                
                <h5>Please tell us how you first heard about Vehdoc</h5>
                <select name="source" id="" title="Information about">
                    <option hidden disabled selected value> -- Select -- </option>
                    <option value="googleSearch">Google Search</option>
                    <option value="googleAds">Google Ads</option>
                    <option value="fcf">Friends/Colleague/Family</option>
                    <option value="instagram">Instagram</option>
                    <option value="twitter">Twitter</option>
                    <option value="facebook">Facebbok</option>
                    <option value="whatsapp">Whatsapp</option>
                    <option value="blogs">Blogs/Forums</option>
                    <option value="others">Others</option>
                </select>
                
                <div class="checkbox">
                    <input type="checkbox" title="checkbox" name="checkbox" required>
                    <p>I agree to the terms of using Vehdoc</p>
                </div>
    
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    
    <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        <form class="modal-content" action="/login" method="POST">
            <div class="container">
                <h1>Login</h1>
                <br>
                <hr>
                <span style="color: #ad0404">{{ msg }}</span>
                <input type="text" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
               
    
                 <div class="checkbox">
                <input type="checkbox" title="checkbox">
                <p>Stay Logged in</p>
            </div>
    
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Log in</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        var modal = document.getElementById('1d02')

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var menu = document.querySelector('.menu');
            var menuBtn = document.querySelector('.menubtn')

            menu.addEventListener('click', () => {
                menuBtn.classList.toggle('menuopen')
            })

    </script>
