<main id="main">

   

        <!-- ======= Our Services Section ======= -->
        <section id="services" class="services sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Our Services</h2>
                    <!--p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p-->
                </div>

                <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <img src=".//svg/user.svg" alt="" width="50px">
                            </div>
                            <!--i class="bi bi-activity"></i-->
                            <br>

                            <h3>Create an Account</h3>
                            <p>You can simply create an account and fill out their vehicle data. This includes important
                                information such as the make,
                                model, and year of their vehicle, as well as its current mileage and any specific
                                maintenance or repair needs.</p>
                            <!--a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a-->
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img src=".//svg/directions_car_FILL1_wght400_GRAD0_opsz48.svg" alt=""
                                    width="70px">
                            </div>
                            <br>
                            <h3>Register your vehicle</h3>
                            <p>It is a platform designed to serve a wide range of vehicle owners, including cars,
                                trucks, SUVs, motorcycles, and more.
                                Regardless of the make or model of a vehicle, VEHDOC can provide a neccessary documents
                                and permit.</p>
                            <!--a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a-->
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img src=".//svg/credit-card.svg" alt="" width="60px">
                            </div>
                            <br>
                            <h3>Pay and get your documents</h3>
                            <p>You can easily pay for services using a debit card or other popular online payment
                                systems. VEHDOC
                                also employs industry-standard security measures to ensure that all online payments are
                                safe and secure.</p>
                            <!--a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a-->
                        </div>
                    </div><!-- End Service Item -->



                </div>

            </div>
        </section><!-- End Our Services Section -->


<!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="https://youtu.be/h4qXQc1rHns?feature=shared" class="glightbox play-btn"></a>
        <h3>GET FREE, AUTOMATED AND MULTI PLATFORM REMINDERS</h3>
       
        <a class="cta-btn" href="#">Join Us Now</a>
      </div>
    </section><!-- End Call To Action Section -->



    </main><!-- End #main -->
