<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--topbar-->
        {{> _topbar}}

        <!--Form-->
        <div class="formcard">
            <div class="formcardheader">
                <h2>Add a New Vehicle</h2>
            </div>

            <form action="/make-payment" method="POST">
                <input type="text" name="email" placeholder="Your email address" value="" title="Your Email" required>
                <input type="number" name="amount" title="Amount To Pay" placeholder="Delivery Location" required>
                <input type="submit" value="Proceed to Pay" title="Submit">
            </form>

        </div>

    </div>

</div>