<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--Error Alert-->
        {{#if msg}}
        <div class="alert color-success" id="alert">
            <span class="alert-text">{{msg}}</span>
            <span class="cancel">x</span>
        </div>
        {{/if}}

        <!--topbar-->
        {{> _topbar}}

        <!--Form-->
        <div class="formcard">
            <div class="formcardheader">
                <h2>New Vehicle Documents</h2>
            </div>
        
            <div class="formcarddetails">
                <p><strong>REQUIRED</strong> <br>
                    Two phone numbers and a required customs paper or receipt (displaying the VIN or chassis number)
                </p>
                
                <p><strong>TIMELINE</strong> <br>
                    Delivery takes 5 working days</p>
            </div>
        
            <form action="/document/vehicle-papers" method="POST">
                <h3>Vehicle Details</h3>
                
                <select name="state" id="" title="Select State">
                    <option hidden disabled selected value> -- Select state -- </option>
                    <option value="Abia">Abia</option>
                    <option value="Adamawa">Adamawa</option>
                    <option value="Akwa Ibom">Akwa Ibom</option>
                    <option value="Anambra">Anambra</option>
                    <option value="Bauchi">Bauchi</option>
                    <option value="Bayelsa">Bayelsa</option>
                    <option value="Benue">Benue</option>
                    <option value="Borno">Borno</option>
                    <option value="Cross River">Cross River</option>
                    <option value="Delta">Delta</option>
                    <option value="Ebonyi">Ebonyi</option>
                    <option value="Edo">Edo</option>
                    <option value="Ekiti">Ekiti</option>
                    <option value="Enugu">Enugu</option>
                    <option value="Gombe">Gombe</option>
                    <option value="Imo">Imo</option>
                    <option value="Jigawa">Jigawa</option>
                    <option value="Kaduna">Kaduna</option>
                    <option value="Kano">Kano</option>
                    <option value="Katsina">Katsina</option>
                    <option value="Kebbi">Kebbi</option>
                    <option value="Kogi">Kogi</option>
                    <option value="Kwara">Kwara</option>
                    <option value="Lagos">Lagos</option>
                    <option value="Nassarawa">Nassarawa</option>
                    <option value="Niger">Niger</option>
                    <option value="Ogun">Ogun</option>
                    <option value="Ondo">Ondo</option>
                    <option value="Osun">Osun</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Plateau">Plateau</option>
                    <option value="Rivers">Rivers</option>
                    <option value="Sokoto">Sokoto</option>
                    <option value="Taraba">Taraba</option>
                    <option value="Yobe">Yobe</option>
                    <option value="Zamfara">Zamfara</option>
                    <option value="FCT">FCT</option>
                </select>

                <select name="category" title="Select cars" onchange="if (typeof(this.selectedIndex) != 'undefined') newPapers(this.selectedIndex)" required>
                    <option selected disabled hidden>Select Category of Vehicle</option>
                    <option value="Saloon Car-Mini(1.4-1.9L) e.p. Picanto, Corolla, Almera, Civic">Saloon Car-Mini(1.4-1.9L) e.p. Picanto, Corolla, Almera, Civic</option>
                    <option value="Saloon Car-Maxi(2.0-2.6L) e.g. Camry, Benz, Accord, Lexus & Others">Saloon Car-Maxi(2.0-2.6L) e.g. Camry, Benz, Accord, Lexus & Others</option>
                    <option value="SUV | Jeep | Bus | Pick-Up | Crossover">SUV | Jeep | Bus | Pick-Up | Crossover</option>
                    <option value="Coaster Bus">Coaster Bus</span></option>
                    <option value="Truck | Tipper | Trailer">Truck | Tipper | Trailer</option>
                </select>

                <select name="reg_type" id="regType" title="Registration Type" onchange="if (typeof(this.selectedIndex) != 'undefined') newPapers(null, this.selectedIndex-1)" required>
                    <option hidden selected disabled>Registration Type</option>
                    <option value="Private Vehicle(With 3rd Party Insurance)" class="regType">Private Vehicle(With 3rd Party Insurance)</option>
                    <option value="Commercial Vehicle(With 3rd Party Insurance)">Commercial Vehicle(With 3rd Party Insurance)</option>
                    <option value="Customized Plate(With 3rd Party Insurance)" class="regType">Customized Plate(With 3rd Party Insurance)</option>
                </select>
                
                <input type="text" name="doc_name" placeholder="Name to be on Vehicle Documents" required>
                <input type="text" name="address" placeholder="Address to be on Vehicle Document" required>
                
                <input type="text" name="brand" placeholder="Type of Vehicle e.g. Toyota" value="" title="Vehicle Brand" required>
                <input type="text" name="model" placeholder="Model of Vehicle e.g. Corolla" value="" title="Vehicle Model" required>
                <input type="text" name="engineNo" placeholder="Engine Number" value="" title="Engine Number" required>
                <input type="text" name="chassisNo" placeholder="Chassis Number" value="" title="Name" required>
                <input type="text" name="color" placeholder="Color of Vehicle" value="" title="Color" required>
                <input type="number" name="phone1" placeholder="Phone Number to register Vehicle" required>
                <input type="number" name="phone2" placeholder="Second Phone Number(required)" required>
                <input type="text" name="location" title="Delivery Location" placeholder="Delivery Location" required>

                <div class="formcard_upload">
                    <h3>Attach Two Required Documents.</h3>
                    <ul>
                        <li>Two pages of Custom Paper / Receipt</li>
                        <li>A Valid ID-Card</li>
                    </ul>
                </div>
                <input type="file" name="files" class="filepond pond" title="Upload" data-max-files="3" multiple required>
                                
                <input type="hidden" name="amount" value="" id="amount" required>
                <input type="submit" value="Start Processing(₦ 0)" placeholder="" title="Submit Form">
            </form>
        
        </div>

    </div>

</div>
