<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--Error Alert-->
        {{#if msg}}
        <div class="alert color-success" id="alert">
            <span class="alert-text">{{msg}}</span>
            <span class="cancel">x</span>
        </div>
        {{/if}}

        <!--topbar-->
        {{> _topbar}}

        <!--Form-->
        <div class="formcard">
            <div class="formcardheader">
                <h2>Renew Vehicle Paper</h2>
            </div>

            <div class="formcarddetails">
                <p><strong>REQUIRED</strong> <br>
                    Please <strong>Check or Uncheck</strong> what papers you want renewed.
                Note that for <strong>Lagos</strong>, you only get a <strong>Road Worthiness Referral
                    Note </strong> to visit LACVIS Centre within 30 days of payment </p>

                    <p><strong text="red">TIMELINE</strong> <br>
                    Renewals of vehicle papers are done within 72 hours but during festive periods, there might be slight delays
                    </p>
            </div>

            <div class="details">
            <div class="recentOrders">
                
                <img src="/img/xample.jpg" class="xample" alt="">
                
                <form action="/document/renew-papers" method="POST">
                
                    <h3>Attach The Required Documents.</h3>
                    <input type="file" name="files" class="filepond pond" title="Upload" multiple required>

                    <h3>Select Vehicle</h3>
                    <select name="vehicle_type" id="" title="Select cars" onchange="if (typeof(this.selectedIndex) != 'undefined') renewPapers(event, this.selectedIndex-1)" required>
                        <option selected disabled hidden>Select Category of Vehicle</option>
                        <option value="Saloon Car-Mini(1.4-1.9L)">Saloon Car-Mini(1.4-1.9L) e.p. Picanto, Corolla, Almera, Civic</option>
                        <option value="Saloon Car-Maxi(2.0-2.6L)">Saloon Car-Maxi(2.0-2.6L) e.g. Camry, Benz, Accord, Lexus & Others</option>
                        <option value="SUV | Jeep | Bus | Pick-Up | Crossover">SUV | Jeep | Bus | Pick-Up | Crossover</option>
                        <option value="Coaster Bus">Coaster Bus</option>
                        <option value="Truck | Tipper | Trailer">Truck | Tipper | Trailer</option>
                    </select>
                
                
                    <table class="table">
                    
                        <tr>
                            <td><input type="checkbox" name="vehicle_license" id="" title="Add" onclick="renewPapers(event, null, 'vehicle_license')"></td>
                            <td>Vehicle License</td>
                        </tr>

                        <tr>
                            <td><input type="radio" name="road_worthiness" class="r_w_p" value="road_worthiness_private" onclick="renewPapers(event, null, null, 'road_worthiness_private')"></td>
                            <td>Road Worthiness(Private)</td>

                            <td><input type="radio" name="road_worthiness" class="r_w_c" value="road_worthiness_commercial" onclick="renewPapers(event, null, null, 'road_worthiness_commercial')"></td>
                            <td>Road Worthiness(Commercial)</td>
                        </tr>

                        <tr>
                            <td><input type="radio" name="third_party_insurance" class="t_i_p" value="third_party_insurance_private" onclick="renewPapers(event, null, null, null, 'third_party_insurance_private')"></td>
                            <td>Third Party Insurance(Private)</td>

                            <td><input type="radio" name="third_party_insurance" class="t_i_c" value="third_party_insurance_commercial" onclick="renewPapers(event, null, null, null, 'third_party_insurance_commercial')"></td>
                            <td>Third Party Insurance(Commercial)</td>
                        </tr>
                    
                        <tr>
                            <td><input type="checkbox" name="hackney_permit" id="" title="Add" onclick="renewPapers(event, null, 'hackney_permit')"></td>
                            <td>Hackney Permit</td>
                        </tr>
                    
                        <tr>
                            <td><input type="checkbox" name="heavy_duty_permit" id="" title="Add" onclick="renewPapers(event, null, 'heavy_duty_permit')"></td>
                            <td>Heavy Duty Permit</td>
                    
                        </tr>
                    
                        <tr>
                            <td><input type="checkbox" name="local_govt_permit" id="" title="Add" onclick="renewPapers(event, null, 'local_government_permit')"></td>
                            <td>Local Govt. Permit</td>
                    
                        </tr>
                        
                        <tr>
                            <td><input type="checkbox" name="truck_trailer_permit" id="" title="Add" onclick="renewPapers(event, null, 'truck_trailer_permit')"></td>
                            <td>Truck & Trailer Permit (TTP)</td>
                        </tr>
                    </table>

                    <input type="text" name="location" title="Delivery Location" placeholder="Delivery Location" required>
                    <input type="number" name="phone" placeholder="Phone Number to register Vehicle" required>
                    <input type="hidden" name="amount" value="" id="amount" required>
                    <input type="submit" value="Start Processing(# 0)" placeholder="" title="Submit Form">
                </form>
                
            </div>

            </div>
            
        </div>

    </div>

</div>

<script>
    document.querySelectorAll('input[type=checkbox]').forEach(box => { box.disabled = true })
    document.querySelectorAll('input[type=radio]').forEach(box => { box.disabled = true })
</script>
